.participant-card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

    max-width: 214px;
    /* padding: 1.5rem 2rem; */
}

.participant-image {
    padding: 1.5rem 2rem 0;
}

.participant-image img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px solid #FF4655;
}

.participant-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0 1.5rem;
    margin-top: 0.5rem;

    width: 100%;
}

.name {
    font-size: 24px;
    text-align: center;
}

.department {
    margin: 0.25rem 0 1rem;
    font-weight: 100;
}

.type {
    font-size: 24px;
    font-weight: 700;
    color: #FF4655;
}