.comment-buttonx {
    width: 100%;
    background-color: #92353d;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.comment-buttonx h2 {
    font-weight: 600;
    font-size: 32px;
    color: #b5b5b5;
}

.spirit-formx {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  background-color: #92353d;
  
  padding: 2rem;
  border-radius: 20px;

  font-size: 24px;
  line-height: 27px;
}

.labelx {
  color: #b5b5b5;
  background-color: #92353d;
  font-size: 18px;
}

.fieldx {
  background-color: #92353d;
  width: 100%;
  margin: 0.7rem 0;
}

.controlx {
  margin-top: 0.5rem;
  background-color: #92353d;
}

.controlx input {
  flex: 1;
  width: 100%;
  min-height: 40px;
  min-width: 300px;
  font-size: 18px;
  line-height: 20px;
  background: #d9d9d9;
  border: 2px solid #ff4655;
  padding: 0 1rem;
  outline: none;
  border-radius: 6px;
}

.controlx textarea {
  flex: 1;
  width: 100%;
  min-height: 100px;
  min-width: 300px;
  font-size: 18px;
  line-height: 20px;
  background: #d9d9d9;
  border: 2px solid #ff4655;
  padding: 0 1rem;
  outline: none;
  border-radius: 6px;
}

.spirit__add-buttonx {
  flex: 1;
  width: 100%;
  min-height: 40px;
  background: #ff4655;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.comment-margin {
    margin: 7rem 0 3rem;
}