.spirit__kompetisi_seni {
    display: flex;
    flex-direction: column;
}

.spirit__kompetisi-heading_seni {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
}

.spirit__kompetisi-heading_seni h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

.spirit__kompetisi_seni-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}