.spirit__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    padding: 0rem 6rem;
}

.spirit__navbar-logo {
    margin-right: 2rem;
}

.spirit__navbar-logo img {
    width: 56px;
    height: 56px;
}

.spirit__navbar-container {
    display: flex;
    flex-direction: row;
}

.spirit__navbar-container p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    margin: 0 2.5rem;
    cursor: pointer;

    padding: 2.2rem 0;
}

.spirit__navbar-container p:hover {
    color: #FF4655;
}

.spirit__navbar-dropdown {
    display: none;
}

.spirit__dropdown:hover .spirit__navbar-dropdown{
    display: block;
    color: #FF4655;
    position: absolute;
    z-index: 1;

    background: #000000;
    border-bottom: 5px solid #FF4655;
    box-shadow: 0px 4px 5px 5px rgb(0 0 0 / 8%);
}

.spirit__navbar-dropdown p {
    padding: 0.8rem;
    margin: 0 1rem;
}

.spirit__navbar-dropdown {
    margin-left: 2.2rem;
}

