.spirit__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    padding: 1rem 6rem;
}

.spirit__navbar-logo {
    margin-right: 2rem;
}

.spirit__navbar-logo img {
    width: 84px;
    height: 84px;
}

.spirit__navbar-container {
    display: flex;
    flex-direction: row;
}

.spirit__navbar-container p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    margin: 0 2.5rem;
    cursor: pointer;
}

.spirit__navbar-container p:hover {
    color: #FF4655;
}
