.spirit__h2h-card,
.spirit__nonh2h-card {
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
    border: 1px solid #FFFFFF;
    margin-bottom: 1.5rem;
}

.spirit__h2h-content,
.spirit__nonh2h-content,
.spirit__h2h-image,
.spirit__h2h-department {
    background: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1rem 0;
}

.spirit__nonh2h-content {
    flex-direction: column;
    align-items: flex-start;

    padding: 3rem 2rem;
}

.spirit__nonh2h-type {
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
}

.spirit__nonh2h-kompetisi {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.spirit__h2h-kompetisi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 2rem;
}

.spirit__h2h-image {
    flex: 2;
    margin: 0 2rem;
}

.spirit__h2h-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    border-radius: 50px;
    border: 3px solid #FF4655;
}

.spirit__h2h-image p {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;

    margin: 0 2.5rem;
}

.spirit__h2h-kompetisi {
    flex: 3;

    /* background: red; */
}

.spirit__h2h-department p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.light,
.spirit__h2h-department .light {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

    margin: 0 1rem;
}

.spirit__h2h-location,
.spirit__nonh2h-location {
    background: linear-gradient(270deg, #FF4655 0%, rgba(255, 70, 85, 0) 46.17%, rgba(255, 70, 85, 0) 46.42%);
    border: 1px solid #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem 2rem;
}

.spirit__h2h-location p,
.spirit__nonh2h-location p {
    margin-left: 0.5rem;
}