.spirit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spirit-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 700px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.75);

    font-size: 24px;
    line-height: 27px;
}

.field {
    width: 100%;
    margin: 0.7rem 0;
}

.field p {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0.4rem;
    color: #c1c1c1;
}

.control-container {
    /* background: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control {
    margin-top: 0.5rem;
}

.control input,
.control select,
.control textarea {
    flex: 1;
    width: 100%;
    min-height: 50px;
    min-width: 300px;
    font-size: 20px;
    line-height: 27px;
    background: #D9D9D9;
    border: 2px solid #FF4655;
    padding: 0 1rem;
    outline: none;
    color: #fff;
    color: #3D6184;


    border-radius: 10px;
}

.control textarea {
    padding-top: 0.75rem;
}

.spirit__add-button {
    flex: 1;
    width: 100%;
    min-height: 50px;
    background: #FF4655;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;

    border-radius: 10px;
}

.error_msg {
	/* width: 370px; */
    width: 100%;
	padding: 0.5rem;
	margin: 5px 0;
	font-size: 16px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.login {
    display: flex;
    flex-direction: row;
    margin: 5rem 6rem;
    justify-content: space-between;
    align-items: center;
}

.login-form {
    width: 500px;
}

.spirit-name h1 {
    font-size: 150px;
    line-height: 150px;
    padding-top: 1.5rem;
}

.spirit-name .spr {
    padding-left: 1.5rem;
}

.spirit-name .i {
    color: #FF4655;
}

.spirit-name p {
    font-size: 18px;
}

.dekorasi {
    height: 75px;
    width: 75px;
    position: absolute;
    z-index: -1;
    background: #FF4655;
}

.spirit-design {
    display: flex;
}