* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    font-family: var(--font-family);
    color: #ffffff;
}

body {
    background: var(--color-bg);
    color: #ffffff;
}

a {
    color: unset;
    text-decoration: none;
}

.navbar__bg {
    background: #000000;

    border-bottom: 5px solid #FF4655;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.08);
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.spirit__content {
    display: flex;
    flex-direction: column;
}

.spirit__heading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
}

.spirit__heading h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}

.spirit__kompetisi-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 6rem;
    padding-right: 6rem;

    margin-top: 2rem;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0px;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 60px;
    height: 60px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 60px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: url(../src/assets/buttons/leftArrow.png);
}
[dir='rtl'] .slick-prev:before
{
    content: url(../src/assets/buttons/leftArrow.png);
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: url(../src/assets/buttons/rightArrow.png);

}
[dir='rtl'] .slick-next:before
{
    content: url(../src/assets/buttons/rightArrow.png);
}

.slick-list {
    margin: 0 5rem;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.75);
    /* border: 2px solid red; */
}